{% extends "base.html" %}

{% block head %}
<script src='dist/vendor.bundle.js'></script>
{% endblock %}

{% block content %}
    <script>
      var d = [];
      function load_data(level, taxaKeys, allKeys, data) {
        data = data;
        data.columns = allKeys;
        d.push({
          level: level,
          taxaKeys: taxaKeys,
          data: data,
        });
      }
    </script>
    {% for level in jsonp_files %}
    <script src='{{ level }}?callback=load_data'></script>
    {% endfor %}
    <script src='dist/bundle.js'></script>
{% endblock %}
